

/* Start:/local/components/junior/product.detail/templates/.default/style.css?1584430464107*/
.wrap{
	position: relative;
	max-width: 940px;
	margin: 0 auto;
	padding: 70px 0 40px;
	overflow: hidden;
}
/* End */
/* /local/components/junior/product.detail/templates/.default/style.css?1584430464107 */
